.dart_tool/
.flutter-plugins-dependencies
**/.flutter-plugins-dependencies
.packages
.pub/
build/
coverage/
pubspec.lock

.idea/
.vscode/
*.iml
.DS_Store

android/.gradle/
android/build/
ios/Pods/
ios/.symlinks/
macos/Pods/
macos/.symlinks/

website/dist/
